body {
    background-color: rgb(195, 195, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {2
    height: 300px;
    width: 800px;
    border-style: none;
    border-collapse: collapse;
}
.Main {
    border: none;
}

thead {
    background-color: rgb(53, 52, 52);
    color: antiquewhite;
}

tbody {
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
}
