body {
    background-color: rgb(90, 83, 173);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    height: 300px;
    width: 800px;
    border-style: none;
    border-collapse: collapse;
}

.Main {
    border: none;
}

thead {
    background-color: rgb(53, 52, 52);
    color: antiquewhite;
}

tbody {
    text-align: center;
}

h1 {
    text-align: center;
    color: aliceblue;
}
