body{
    background-color: rgb(90, 83, 173);
}
table{
    height: 300px;
    width: 800px;
    border-style: none;
margin-left: 350px;
    
}
.Main{
    border: none;
    border-style: none;
    
}
thead{
    background-color: rgb(53, 52, 52);
    color: antiquewhite;
}
tbody{
    text-align: center;
    
}
h1{
    text-align: center;
    color: aliceblue;
}
